<div class="container justify-content-center p-4 pb-4">
  <div *ngFor="let article of list; let i = index">
    <div class="row" *ngIf="i % 4 === 0">
      <div *ngIf="list[i]" class="col-sm d-flex">
        <div class="card card-body flex-fill" style="width: 18rem;">
            <img src="{{list[i].picture}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"> {{list[i].libelle}}</h5>
              <p class="card-text">{{list[i].price}}€</p>
              <a [routerLink]="['/articles', list[i].id]" class="btn btn-primary">Afficher</a>
            </div>
        </div>
      </div>
      <div *ngIf="list[i+1]" class="col-sm d-flex">
        <div class="card card-body flex-fill" style="width: 18rem;">
            <img src="{{list[i+1].picture}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"> {{list[i+1].libelle}}</h5>
              <p class="card-text">{{list[i+1].price}}€</p>
              <a [routerLink]="['/articles', list[i+1].id]" class="btn btn-primary">Afficher</a>
            </div>
        </div>
      </div>
      <div *ngIf="list[i+2]" class="col-sm d-flex">
        <div class="card card-body flex-fill" style="width: 18rem;">
            <img src="{{list[i+2].picture}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"> {{list[i+2].libelle}}</h5>
              <p class="card-text">{{list[i+2].price}}€</p>
              <a [routerLink]="['/articles', list[i+2].id]" class="btn btn-primary">Afficher</a>
            </div>
        </div>
      </div>
      <div *ngIf="list[i+3]" class="col-sm d-flex">
        <div class="card card-body flex-fill" style="width: 18rem;">
            <img src="{{list[i+3].picture}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"> {{list[i+3].libelle}}</h5>
              <p class="card-text">{{list[i+3].price}}€</p>
              <a [routerLink]="['/articles', list[i+3].id]" class="btn btn-primary">Afficher</a>
            </div>
        </div>
      </div>
    </div>
  </div>