<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <div class="row f1">
            <div class="col-md-4">
                <strong>QUI SOMMES NOUS ?</strong>
                {{footer[1]}}
            </div>
            <div class="col-md-4">
                <strong>NOUS CONTACTER :</strong>
                Tel : {{contact[0]}}
                <br/>
                Mail : {{contact[1]}}
            </div>
            <div class="col-md-4">
                <strong>NOTRE ADRESSE :</strong>
               {{footer[3]}}
            </div>
        </div>
    </div>
    <!-- Grid container -->
    <hr/>
    <!-- Copyright -->
    <div class="text-center p-3">
      © 2021 Copyright:
      <a>{{footer[0]}}</a>
    </div>
    <!-- Copyright -->
  </footer>
