<div class="container d-flex justify-content-center p-4 pb-4">
  <div class="row">
    <h6>Ajouter un article </h6>

    <div class="d-flex p-3">
        <form #articlePost="ngForm" (ngSubmit)="onSubmit(articlePost.value)">
            <div class="form-group">
              <label for="libelle">Nom</label>
              <input type="text" class="form-control" id="libelle" name="libelle" ngModel placeholder="Nom" required>
            </div>
            <div class="form-group">
                <label for="Brand">Marque</label>
                <input type="text" class="form-control" id="brand" name="brand" ngModel placeholder="Marque" required>
            </div>
            <div class="form-group">
              <label for="price">Prix</label>
              <input type="text" class="form-control" id="price" name="price" ngModel placeholder="Prix" required>
            </div>
            <div class="form-group">
                <label for="category">Catégorie</label>
                <select class="form-select" name="category" id="category" ngModel required>
                    <option *ngFor="let cat of Categories" value="{{cat.split('> ')[1]}}">{{cat}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="picture">Image</label>
                <input type="text" class="form-control" id="picture" name="picture" ngModel placeholder="Image" required>
            </div>
            
            <br>

            <div class="form-group row">
                <div class="col-sm-10">
                  <button type="submit" class="btn btn-primary">Ajouter</button>
                </div>
              </div>

        </form>
    </div>
  </div>
</div>
