<div id="carouselExampleDark" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="4000">
        <img src="assets/images/home/p1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Ordinateurs</h5>
          <p>Retrouver tous ce qu'il vous faut pour un bon ordinateur</p>
          <div class="slider-btn">
            <button routerLink="Ordinateurs/PcBureau" class="btn btn-1">Pc de Bureau</button>
            <button routerLink="Ordinateurs/PcPortable" class="btn btn-2">Pc Portable</button>
            <button routerLink="Ordinateurs/PcAccessoires" class="btn btn-3">Accessoires</button>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="4000">
        <img src="assets/images/home/p2.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Téléphones</h5>
          <p>Retrouver tous ce qu'il vous faut pour un bon téléphone</p>
          <div class="slider-btn">
            <button routerLink="Phones/smartPhone" class="btn btn-1">SmartPhone</button>
            <button routerLink="Phones/telFixe" class="btn btn-2">Tel Fixe</button>
            <button routerLink="Phones/telAccessoires" class="btn btn-3">Accessoires</button>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="4000">
        <img src="assets/images/home/p3.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Stockage</h5>
          <p>Retrouver tous ce qu'il vous faut pour un bon stockage</p>
          <div class="slider-btn">
            <button routerLink="Stockage/disque-dur" class="btn btn-1">Disque Dur</button>
            <button routerLink="Stockage/cle-usb" class="btn btn-2">Clé USB</button>
            <button routerLink="Stockage/stockage-accessoires" class="btn btn-3">Accessoires</button>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"  data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"  data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
